.login-container {
  height: 100vh;
  background: url("https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?s=2048x2048&w=is&k=20&c=azft1MVw7FNLT3CjwcHTaPuYbJLlazIMZbJRxLYVsbA=")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.login-card h1 {
  color: #e53935;
  margin-bottom: 10px;
}

.login-card p {
  margin-bottom: 20px;
  color: #555;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #e53935;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-card button:hover {
  background: #c62828;
}
