.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d32f2f;
  padding: 15px 25px;
  color: white;
}

.nav-filters button {
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  font-weight: bold;
  background: white;
  color: black;
  padding: 8px 12px;
  border-radius: 20px;
}

.count {
  background: red;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  margin-left: 5px;
}
